{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle:Advert:layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
        <small>{ Annonce publiée : {% if advert.published %} Oui {% else %} Non {% endif %}}</small>
      </li>
    {% else %}
      <li>Pas encore d'annonces</li>
    {% endfor %}
  </ul>

  <ul class="pagination">
    {% for p in range(1, nbPages) %}
        <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('oc_platform_home', {'page': p}) }}" title="Page {{ p }}">{{ p }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}